# Ignore everything by default; only the files below are tracked.
*

# ...except directories, so git will look inside them for the allow-list.
!*/

# Allowed files
!/github/skel
!/github/skel/**
!/github/build-iso.sh
!/github/customize-home.sh
!/github/customize-skel.sh
!/github/README.md
!/.gitignore
