source /boot/grub/config.cfg

menuentry "__BOOT_ENTRY_LABEL__" --hotkey=d {
	linux	/live/vmlinuz boot=live hostname=DebianAula components quiet splash overlay-size=50% video=1440x900@60
	initrd	/live/initrd.img
}

# Live boot
menuentry "Live system (amd64)" --hotkey=l {
	linux	/live/vmlinuz boot=live components quiet splash findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "Live system (amd64 fail-safe mode)" {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	/live/initrd.img
}

# Installer (if any)
if true; then

source	/boot/grub/install_start.cfg

submenu 'Advanced install options ...' --hotkey=a {

	source /boot/grub/theme.cfg

	source	/boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

	source /boot/grub/theme.cfg

	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" --hotkey=f {
			fwsetup
		}
	fi

	# Verify the checksums
	if true; then
		menuentry "Verify integrity of the boot medium" --hotkey=v {
			linux	/live/vmlinuz boot=live components   findiso=${iso_path} verify-checksums
			initrd	/live/initrd.img
		}
	fi
}
